.home{
    height: 100vh;
    width: 100%;
    background: url( images/Ganesh/blood\ donate.jpg );
    background-size: cover;
    background-position: center;
    position: relative;
    }
.home .row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(900deg,#000,transparent);
}
.home .col-sm-7{
    padding: 30px;
    color: #fff;
    position: relative;
}
.home .col-sm-7 h6{
    font-size: 30px;
    font-weight: 700;
}
.home .col-sm-7 h5{
    font-size: 100px;
    font-weight: 800;
}
.home .col-sm-7 p{
    font-size: 12px;
    font-weight: 500;
}
